nav {
  box-shadow: 0px 8px 5px #f8f8f8;
  border: 0 !important;
  background-color: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-brand {
  font-weight: 300;
  font-size: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav {
  font-size: 18px;
}

.nav-text-margin {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 10px;
}

.nav-item a, .navbar-brand {
  color: #5F5F5F !important;
}

.nav-item a:hover {
  color: black !important;
}

.no-box-shadow {
  box-shadow: none;
  border-bottom: 1px solid #F8F8FS8;
}

.background-color-fff {
  background-color: #FFF;
}

.border-color-fff {
  border-color: #FFF;
}

a.color-01D06F {
  color: #01D06F !important;
  padding: 15px;
}

a.color-01D06F:hover {
  color: #FFF !important;
  text-decoration: none;
}

.background-color-01D06F {
  background-color: #FFF;
  color: #01D06F;
  border-width: 3px;
  border-radius: 6px;
  border-style: solid;
  letter-spacing: 1px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.background-color-01D06F:hover {
  background-color: #01D06F;
  color: #FFF !important;
}
