.carousel {
	background-color: #FFF;
	max-width: 600px;
	margin: 50px auto;
}

h4.question-header {
	margin-top: 0;
}

button.back-btn {
  border-color: #f8f8f8;
  border-style: solid;
  background: #FFF;
  color: #A6A6A6;
  width: 150px;
  height: 50px;
}

button.next-btn {
  float: right;
  background: #01D06F;
  border-color: #01D06F;
  border-style: solid;
  color: #FFF;
  height: 50px;
  width: 200px;
  padding: 0;
}